# Python for Data Analysis - part8

##### Python의 numpy, pandas 등을 정리하였으며 파이썬 라이브러리를 활용한 데이터분석(2판)을 참고하여 작성하였습니다.
##### 해당 자료는 python 3.6 기반으로 작성되었습니다.

## 8. 데이터 준비하기: 조인, 병합, 변형

### 8.1 계층적 색인

In [4]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9), index = [['a','a','a','b','b','c','c','d','d'],
                                             [1,2,3,1,3,1,2,2,3]])

print(data)
print('--------------------------------------')

print(data.index)
print('--------------------------------------')

print(data['b'])
print('--------------------------------------')

print(data['b':'c'])
print('--------------------------------------')

print(data.loc[['b','d']])
print('--------------------------------------')

print(data.loc[:,2])
print('--------------------------------------')

# unstack 메서드 - data를 새롭게 배열
print(data.unstack())
print('--------------------------------------')

# stack 메서드 - unstack의 반대
print(data.unstack().stack())
print('--------------------------------------')

a  1    0.580180
   2    0.978287
   3   -0.638081
b  1   -0.348600
   3    0.145145
c  1   -0.484950
   2    0.376579
d  2   -0.964839
   3    1.014475
dtype: float64
--------------------------------------
MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )
--------------------------------------
1   -0.348600
3    0.145145
dtype: float64
--------------------------------------
b  1   -0.348600
   3    0.145145
c  1   -0.484950
   2    0.376579
dtype: float64
--------------------------------------
b  1   -0.348600
   3    0.145145
d  2   -0.964839
   3    1.014475
dtype: float64
--------------------------------------
a    0.978287
c    0.376579
d   -0.964839
dtype: float64
--------------------------------------
         1         2         3
a  0.58018  0.978287 -0.638081
b -0.34860       NaN  0.145145
c -0.48495  0.376579       NaN
d      NaN -0.964839  1.014475
--------------------------------------
a  1    0.580180
   2    0.978287
   3   -0.638081
b  1   -0.348600
   3    0.145145
c  1   -0.484950
   2    0.376579
d  2   -0.964839
   3    1.014475
dtype: float64
--------------------------------------

In [8]:
frame = pd.DataFrame(np.arange(12).reshape(4,3), index = [['a','a','b','b'], [1,2,1,2]], 
                    columns = [['ohio', 'ohio', 'colorado'], ['green', 'red', 'green']])

print(frame)
print('--------------------------------------')

frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
print(frame)
print('--------------------------------------')

print(frame['ohio'])
print('--------------------------------------')

     ohio     colorado
    green red    green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11
--------------------------------------
state      ohio     colorado
color     green red    green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11
--------------------------------------
color      green  red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10
--------------------------------------

#### 8.1.1 계층의 순서를 바꾸고 정렬하기

In [12]:
# swaplevel 메서드 - 계층 번호나 이름이 뒤바뀐 새로운 객체를 반환(데이터는 변경되지 않음)
print(frame.swaplevel('key1', 'key2'))
print('--------------------------------------')

# sort_index 메서드 - 단일 계층에 속한 데이터를 정렬
print(frame.sort_index(level = 1))
print('--------------------------------------')

print(frame.swaplevel(0,1).sort_index(level = 0))
print('--------------------------------------')

state      ohio     colorado
color     green red    green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11
--------------------------------------
state      ohio     colorado
color     green red    green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11
--------------------------------------
state      ohio     colorado
color     green red    green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11
--------------------------------------

#### 8.1.2 계층별 요약 통계

In [15]:
print(frame.sum(level = 'key2'))
print('--------------------------------------')

print(frame.sum(level = 'color', axis = 1))
print('--------------------------------------')

state  ohio     colorado
color green red    green
key2
1         6   8       10
2        12  14       16
--------------------------------------
color      green  red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10
--------------------------------------

#### 8.1.3 DataFrame의 컬럼 사용하기

In [20]:
frame = pd.DataFrame({'a' : range(7), 'b' : range(7,0,-1), 
                     'c' : ['one', 'one', 'one', 'two', 'two', 'two', 'two'], 
                     'd' : [0,1,2,0,1,2,3]})

print(frame)
print('--------------------------------------')

# set_index - 하나 이상의 컬럼을 색인으로 하는 새로운 DataFrame 생성
frame2 = frame.set_index(['c', 'd'])
print(frame2)
print('--------------------------------------')

print(frame.set_index(['c', 'd'], drop = False))
print('--------------------------------------')

# reset_index - 계층적 색인 단계가 컬럼으로 이동
print(frame2.reset_index())
print('--------------------------------------')

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3
--------------------------------------
       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1
--------------------------------------
       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3
--------------------------------------
     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1
--------------------------------------

### 8.2 데이터 합치기
#### - pandas.merge : 하나 이상의 키를 기준으로 DataFrame의 로우를 합침
#### - pandas.concat : 하나의 축을 따라 객체를 이어 붙임
#### - combile_first : 두 객체를 포개서 한 객체에서 누락된 데이터를 다른 객체에 있는 값으로 채움

#### 8.2.1 데이터베이스 스타일로 DataFrame 합치기

In [27]:
# pd.merge() - 하나 이상의 키를 사용해서 데이터 집합의 로우를 합침
df1 = pd.DataFrame({'key' : ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1' : range(7)})
df2 = pd.DataFrame({'key' : ['a', 'b', 'd'], 
                   'data2' : range(3)})

print(df1)
print('--------------------------------------')
print(df2)
print('--------------------------------------')

print(pd.merge(df1, df2))
print('--------------------------------------')

print(pd.merge(df1, df2, on = 'key'))
print('--------------------------------------')

df3 = pd.DataFrame({'lkey' : ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 
                   'data1' : range(7)})
df4 = pd.DataFrame({'rkey' : ['a','b', 'd'], 
                   'data2' : range(3)})

print(pd.merge(df3, df4, left_on = 'lkey', right_on='rkey'))
print('--------------------------------------')

# 외부조인 - 합집합 / 왼쪽조인, 오른쪽조인 - 왼쪽, 오른쪽의 모든 로우를 포함
print(pd.merge(df1, df2, how ='outer'))
print('--------------------------------------')

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
--------------------------------------
  key  data2
0   a      0
1   b      1
2   d      2
--------------------------------------
  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0
--------------------------------------
  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0
--------------------------------------
  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0
--------------------------------------
  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0
--------------------------------------

#### how 옵션에 따른 조인 연산 - inner(공통으로 존재하는 키), left(왼쪽 테이블에 존재하는 모든 키), right(오른쪽 테이블에 존재하는 모든 키), output(양쪽에 존재하는 모든 키)

In [29]:
# 다대다 조인은 두 로우의 데카르트 곱을 반환
df1 = pd.DataFrame({'key' : ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1' : range(6)})
df2 = pd.DataFrame({'key' : ['a', 'b', 'a', 'b', 'd'], 
                   'data2' : range(5)})

print(df1)
print('--------------------------------------')

print(df2)
print('--------------------------------------')

print(pd.merge(df1, df2, on='key', how = 'left'))
print('--------------------------------------')

print(pd.merge(df1, df2, how = 'inner'))
print('--------------------------------------')

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5
--------------------------------------
  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4
--------------------------------------
   key  data1  data2
0    b      0    1.0
1    b      0    3.0
2    b      1    1.0
3    b      1    3.0
4    a      2    0.0
5    a      2    2.0
6    c      3    NaN
7    a      4    0.0
8    a      4    2.0
9    b      5    1.0
10   b      5    3.0
--------------------------------------
  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2
--------------------------------------

In [32]:
left = pd.DataFrame({'key1' : ['foo', 'foo', 'bar'], 
                    'key2' : ['one', 'two', 'one'], 
                    'lval' : [1,2,3]})
right = pd.DataFrame({'key1' : ['foo', 'foo', 'bar', 'bar'], 
                     'key2' : ['one', 'one', 'one', 'two'], 
                     'rval' : [4,5,6,7]})

print(pd.merge(left, right, on = ['key1', 'key2'], how = 'outer'))
print('--------------------------------------')

print(pd.merge(left, right, on = 'key1'))
print('--------------------------------------')

print(pd.merge(left, right, on = 'key1', suffixes=('_left', '_right')))
print('--------------------------------------')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0
--------------------------------------
  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7
--------------------------------------
  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7
--------------------------------------

#### merge 함수 인자 - left(왼족 df), right(오른쪽 df), how(조인 방법, inner, outer, left, right), on(조인하려는 칼럼 이름, 양쪽 모두 존재해야 함), left_on(조인 키로 사용할 왼쪽 df 칼럼), right_on(조인 키로 사용할 오른쪽 df 칼럼), left_index(조인 키로 사용할 왼쪽 df의 색인), right_index(조인 키로 사용할 오른쪽 df의 색인), sort(조인키에 따라 병합된 데이터를 정렬), suffixes(컬럼 이름이 겹칠 경우 이름 뒤에 붙일 문자열)

#### 8.2.2 색인 병합하기

In [36]:
left1 = pd.DataFrame({'key' : ['a','b','a','a','b','c'], 
                     'value' : range(6)})
right1 = pd.DataFrame({'group_val' : [3.5, 7]},
                      index = ['a', 'b'])

print(left1)
print('--------------------------------------')

print(right1)
print('--------------------------------------')

print(pd.merge(left1, right1, left_on = 'key', right_index = True))
print('--------------------------------------')

print(pd.merge(left1, right1, left_on = 'key', right_index = True, how = 'outer'))
print('--------------------------------------')

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5
--------------------------------------
   group_val
a        3.5
b        7.0
--------------------------------------
  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
--------------------------------------
  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN
--------------------------------------

In [39]:
lefth = pd.DataFrame({'key1' : ['ohio', 'ohio', 'ohio', 'nevada', 'nevada'], 
                     'key2' : [2000, 2001, 2002, 2001, 2002], 
                     'data' : np.arange(5.)})
righth = pd.DataFrame(np.arange(12).reshape(6,2), 
                     index = [['nevada', 'nevada','ohio', 'ohio', 'ohio', 'ohio'], 
                             [2001, 2000, 2000, 2000, 2001, 2002]], 
                     columns = ['event1', 'event2'])
print(lefth)
print('--------------------------------------')

print(righth)
print('--------------------------------------')

print(pd.merge(lefth, righth, left_on = ['key1', 'key2'], right_index = True))
print('--------------------------------------')

print(pd.merge(lefth, righth, left_on = ['key1', 'key2'], right_index = True, how = 'outer'))
print('--------------------------------------')

     key1  key2  data
0    ohio  2000   0.0
1    ohio  2001   1.0
2    ohio  2002   2.0
3  nevada  2001   3.0
4  nevada  2002   4.0
--------------------------------------
             event1  event2
nevada 2001       0       1
       2000       2       3
ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11
--------------------------------------
     key1  key2  data  event1  event2
0    ohio  2000   0.0       4       5
0    ohio  2000   0.0       6       7
1    ohio  2001   1.0       8       9
2    ohio  2002   2.0      10      11
3  nevada  2001   3.0       0       1
--------------------------------------
     key1  key2  data  event1  event2
0    ohio  2000   0.0     4.0     5.0
0    ohio  2000   0.0     6.0     7.0
1    ohio  2001   1.0     8.0     9.0
2    ohio  2002   2.0    10.0    11.0
3  nevada  2001   3.0     0.0     1.0
4  nevada  2002   4.0     NaN     NaN
4  nevada  2000   NaN     2.0     3.0
--------------------------------------

In [42]:
left2 = pd.DataFrame([[1,2], [3,4], [5,6]], 
                    index = ['a','c','e'], 
                    columns = ['ohio', 'nevada'])
right2 = pd.DataFrame([[7,8], [9,10], [11, 12], [13, 14]], 
                     index = ['b', 'c', 'd', 'e'], 
                     columns = ['missouri', 'alabama'])

print(left2)
print('--------------------------------------')

print(right2)
print('--------------------------------------')

print(pd.merge(left2, right2, how = 'outer', left_index = True, right_index = True))
print('--------------------------------------')

# join - index 병합에 편리
print(left2.join(right2, how = 'outer'))
print('--------------------------------------')

print(left1.join(right1, on = 'key'))
print('--------------------------------------')

   ohio  nevada
a     1       2
c     3       4
e     5       6
--------------------------------------
   missouri  alabama
b         7        8
c         9       10
d        11       12
e        13       14
--------------------------------------
   ohio  nevada  missouri  alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0
--------------------------------------
   ohio  nevada  missouri  alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0
--------------------------------------
  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN
--------------------------------------

In [44]:
another = pd.DataFrame([[7,8], [9,10], [11,12], [16,17]], 
                      index = ['a', 'c', 'e', 'f'], 
                      columns = ['new york', 'oregon'])
print(another)
print('--------------------------------------')

print(left2.join([right2, another]))
print('--------------------------------------')

print(left2.join([right2, another], how = 'outer'))
print('--------------------------------------')

   new york  oregon
a         7       8
c         9      10
e        11      12
f        16      17
--------------------------------------
   ohio  nevada  missouri  alabama  new york  oregon
a   1.0     2.0       NaN      NaN       7.0     8.0
c   3.0     4.0       9.0     10.0       9.0    10.0
e   5.0     6.0      13.0     14.0      11.0    12.0
--------------------------------------
   ohio  nevada  missouri  alabama  new york  oregon
a   1.0     2.0       NaN      NaN       7.0     8.0
c   3.0     4.0       9.0     10.0       9.0    10.0
e   5.0     6.0      13.0     14.0      11.0    12.0
b   NaN     NaN       7.0      8.0       NaN     NaN
d   NaN     NaN      11.0     12.0       NaN     NaN
f   NaN     NaN       NaN      NaN      16.0    17.0
--------------------------------------

#### 8.2.3 축 따라 이어 붙이기

In [45]:
# np.concatenate() - 이어 붙이기
arr = np.arange(12).reshape(3,4)
print(arr)
print('--------------------------------------')

print(np.concatenate([arr, arr], axis = 1))
print('--------------------------------------')

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
--------------------------------------
[[ 0  1  2  3  0  1  2  3]
 [ 4  5  6  7  4  5  6  7]
 [ 8  9 10 11  8  9 10 11]]
--------------------------------------

In [54]:
s1 = pd.Series([0,1], index = ['a', 'b'])
s2 = pd.Series([2,3,4], index = ['c', 'd', 'e'])
s3 = pd.Series([5,6], index = ['f', 'g'])

print(pd.concat([s1,s2,s3]))
print('--------------------------------------')

print(pd.concat([s1,s2,s3], axis = 1))
print('--------------------------------------')

s4 = pd.concat([s1,s3])
print(s4)
print('--------------------------------------')

print(pd.concat([s1, s4], axis = 1))
print('--------------------------------------')

print(pd.concat([s1, s4], axis = 1, join = 'inner'))
print('--------------------------------------')

result = pd.concat([s1, s1, s3], keys = ['one', 'two', 'three'])
print(result)
print('--------------------------------------')

print(result.unstack())
print('--------------------------------------')

print(pd.concat([s1,s2,s3], axis = 1, keys = ['one', 'two', 'three']))
print('--------------------------------------')

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64
--------------------------------------
     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0
--------------------------------------
a    0
b    1
f    5
g    6
dtype: int64
--------------------------------------
     0  1
a  0.0  0
b  1.0  1
f  NaN  5
g  NaN  6
--------------------------------------
   0  1
a  0  0
b  1  1
--------------------------------------
one    a    0
       b    1
two    a    0
       b    1
three  f    5
       g    6
dtype: int64
--------------------------------------
         a    b    f    g
one    0.0  1.0  NaN  NaN
two    0.0  1.0  NaN  NaN
three  NaN  NaN  5.0  6.0
--------------------------------------
   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0
--------------------------------------

In [57]:
df1 = pd.DataFrame(np.arange(6).reshape(3,2), index = ['a', 'b', 'c'], columns = ['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2,2), index = ['a', 'c'], columns = ['three', 'four'])

print(df1)
print('--------------------------------------')

print(df2)
print('--------------------------------------')

print(pd.concat([df1, df2], axis = 1, keys = ['level1', 'level2']))
print('--------------------------------------')

print(pd.concat({'level1' : df1, 'level2' : df2}, axis = 1))
print('--------------------------------------')

print(pd.concat([df1, df2], axis = 1, keys = ['level1', 'level2'], names = ['upper', 'lower']))
print('--------------------------------------')

   one  two
a    0    1
b    2    3
c    4    5
--------------------------------------
   three  four
a      5     6
c      7     8
--------------------------------------
  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0
--------------------------------------
  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0
--------------------------------------
upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0
--------------------------------------

In [58]:
df1 = pd.DataFrame(np.random.randn(3,4), columns = ['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2,3), columns = ['b', 'd', 'a'])
print(df1)
print('--------------------------------------')
print(df2)
print('--------------------------------------')

print(pd.concat([df1, df2], ignore_index = True))
print('--------------------------------------')

          a         b         c         d
0  0.082814 -1.673553 -0.634606 -0.679874
1  0.929524  0.511675  0.685306 -0.875346
2 -0.132742 -0.582533  0.396642 -0.939710
--------------------------------------
          b         d         a
0 -1.215472  0.409827  0.064406
1  0.722151  0.312236 -0.798416
--------------------------------------
          a         b         c         d
0  0.082814 -1.673553 -0.634606 -0.679874
1  0.929524  0.511675  0.685306 -0.875346
2 -0.132742 -0.582533  0.396642 -0.939710
3  0.064406 -1.215472       NaN  0.409827
4 -0.798416  0.722151       NaN  0.312236
--------------------------------------

#### concat 함수 인자 - objs(이어붙일 pandas 객체의 사전이나 리스트), axis(축 방향), join(조인방식, inner, outer), ignore_index(이어붙인 축의 색인을 유지하지 않고 새롭게 부여)

#### 8.2.4 겹치는 데이터 합치기

In [62]:
# np.where - 벡터화된 if-else 구문
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], 
             index = ['f', 'e', 'd','c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64), 
             index = ['f', 'e', 'd', 'c', 'b', 'a'])
b[-1] = np.nan

print(a)
print('--------------------------------------')

print(b)
print('--------------------------------------')

print(np.where(pd.isnull(a), b, a))
print('--------------------------------------')

# combine_fist - 바로 위 결과와 동일, 데이터 정렬 기능까지 제공
print(b[:-2].combine_first(a[2:]))

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64
--------------------------------------
f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64
--------------------------------------
[0.  2.5 2.  3.5 4.5 nan]
--------------------------------------
a    NaN
b    4.5
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

In [63]:
df1 = pd.DataFrame({'a' : [1, np.nan, 5, np.nan], 
                   'b' : [np.nan, 2, np.nan, 6], 
                   'c' : range(2, 18, 4)})
df2 = pd.DataFrame({'a' : [5,4, np.nan, 3, 7], 
                   'b' : [np.nan, 3, 4, 6, 8]})

print(df1)
print('--------------------------------------')

print(df2)
print('--------------------------------------')

print(df1.combine_first(df2))
print('--------------------------------------')

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14
--------------------------------------
     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0
--------------------------------------
     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN
--------------------------------------

### 8.3 재형성과 피벗
#### - stack : 데이터의 컬럼을 로우로 피벗(회전)시킨다.
#### - unstack : 로우를 컬럼으로 피벗시킨다

In [69]:
data = pd.DataFrame(np.arange(6).reshape(2,3), 
                   index = pd.Index(['ohio', 'colorado'], name = 'state'), 
                   columns = pd.Index(['one', 'two', 'three'], name = 'number'))
print(data)
print('--------------------------------------')

result = data.stack()
print(result)
print('--------------------------------------')

print(result.unstack())
print('--------------------------------------')

print(result.unstack(0))
print('--------------------------------------')

print(result.unstack('state'))
print('--------------------------------------')

number    one  two  three
state
ohio        0    1      2
colorado    3    4      5
--------------------------------------
state     number
ohio      one       0
          two       1
          three     2
colorado  one       3
          two       4
          three     5
dtype: int64
--------------------------------------
number    one  two  three
state
ohio        0    1      2
colorado    3    4      5
--------------------------------------
state   ohio  colorado
number
one        0         3
two        1         4
three      2         5
--------------------------------------
state   ohio  colorado
number
one        0         3
two        1         4
three      2         5
--------------------------------------

In [74]:
s1 = pd.Series([0,1,2,3], index = ['a', 'b', 'c', 'd'])
s2 = pd.Series([4,5,6], index = ['c', 'd', 'e'])
data2 = pd.concat([s1,s2], keys = ['one', 'two'])

print(data2)
print('--------------------------------------')

print(data2.unstack())
print('--------------------------------------')

print(data2.unstack().stack())
print('--------------------------------------')

print(data2.unstack().stack(dropna=False))
print('--------------------------------------')

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64
--------------------------------------
       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0
--------------------------------------
one  a    0.0
     b    1.0
     c    2.0
     d    3.0
two  c    4.0
     d    5.0
     e    6.0
dtype: float64
--------------------------------------
one  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
two  a    NaN
     b    NaN
     c    4.0
     d    5.0
     e    6.0
dtype: float64
--------------------------------------

In [77]:
df = pd.DataFrame({'left' : result, 'right' : result +5}, 
                 columns=pd.Index(['left', 'right'], name = 'side'))
print(df)
print('--------------------------------------')

print(df.unstack())
print('--------------------------------------')

print(df.unstack('state').stack('side'))
print('--------------------------------------')

side             left  right
state    number
ohio     one        0      5
         two        1      6
         three      2      7
colorado one        3      8
         two        4      9
         three      5     10
--------------------------------------
side     left           right
number    one two three   one two three
state
ohio        0   1     2     5   6     7
colorado    3   4     5     8   9    10
--------------------------------------
state         colorado  ohio
number side
one    left          3     0
       right         8     5
two    left          4     1
       right         9     6
three  left          5     2
       right        10     7
--------------------------------------

#### 8.3.2 긴 형식에서 넓은 형식으로 피벗하기

In [81]:
data = pd.read_csv('examples/macrodata.csv')
print(data.head())
print('--------------------------------------')

periods = pd.PeriodIndex(year = data.year, quarter = data.quarter, name = 'date')
columns = pd.Index(['realgdp', 'infl', 'unemp'], name = 'item')
data = data.reindex(columns = columns)
data.index = periods.to_timestamp('D', 'end')
ldata = data.stack().reset_index().rename(columns = {0:'value'})

print(ldata[:10])
print('--------------------------------------')

pivoted = ldata.pivot('date', 'item', 'value')
print(pivoted)
print('--------------------------------------')

     year  quarter   realgdp  realcons  realinv  realgovt  realdpi    cpi  \
0  1959.0      1.0  2710.349    1707.4  286.898   470.045   1886.9  28.98
1  1959.0      2.0  2778.801    1733.7  310.859   481.301   1919.7  29.15
2  1959.0      3.0  2775.488    1751.8  289.226   491.260   1916.4  29.35
3  1959.0      4.0  2785.204    1753.7  299.356   484.052   1931.3  29.37
4  1960.0      1.0  2847.699    1770.5  331.722   462.199   1955.5  29.54

      m1  tbilrate  unemp      pop  infl  realint
0  139.7      2.82    5.8  177.146  0.00     0.00
1  141.7      3.08    5.1  177.830  2.34     0.74
2  140.5      3.82    5.3  178.657  2.74     1.09
3  140.0      4.33    5.6  179.386  0.27     4.06
4  139.6      3.50    5.2  180.007  2.31     1.19
--------------------------------------
                           date     item     value
0 1959-03-31 23:59:59.999999999  realgdp  2710.349
1 1959-03-31 23:59:59.999999999     infl     0.000
2 1959-03-31 23:59:59.999999999    unemp     5.800
3 1959-06-30 23:59:59.999999999  realgdp  2778.801
4 1959-06-30 23:59:59.999999999     infl     2.340
5 1959-06-30 23:59:59.999999999    unemp     5.100
6 1959-09-30 23:59:59.999999999  realgdp  2775.488
7 1959-09-30 23:59:59.999999999     infl     2.740
8 1959-09-30 23:59:59.999999999    unemp     5.300
9 1959-12-31 23:59:59.999999999  realgdp  2785.204
--------------------------------------
item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
...                             ...        ...    ...
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]
--------------------------------------

#### 8.3.3 넓은 형식에서 긴 형식으로 피벗하기

In [85]:
# pd.melt - pivot과 반대되는 연산
df = pd.DataFrame({'key' : ['foo', 'bar', 'baz'], 
                  'A' : [1,2,3],
                  'B' : [4,5,6], 
                  'C' : [7,8,9]})
print(df)
print('--------------------------------------')

melted = pd.melt(df, ['key'])
print(melted)
print('--------------------------------------')

reshaped = melted.pivot('key', 'variable', 'value')
print(reshaped)
print('--------------------------------------')

print(reshaped.reset_index())
print('--------------------------------------')

print(pd.melt(df, id_vars = ['key'], value_vars = ['A', 'B']))
print('--------------------------------------')

print(pd.melt(df, value_vars = ['A', 'B', 'C']))
print('--------------------------------------')

   key  A  B  C
0  foo  1  4  7
1  bar  2  5  8
2  baz  3  6  9
--------------------------------------
   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9
--------------------------------------
variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7
--------------------------------------
variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7
--------------------------------------
   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
--------------------------------------
  variable  value
0        A      1
1        A      2
2        A      3
3        B      4
4        B      5
5        B      6
6        C      7
7        C      8
8        C      9
--------------------------------------